code.highlighter-rouge{
  background: #F9F2F4;
  color:#D34468;
}

.highlight{
  background: rgb(77, 77, 77);
}

a, a:visited, a:hover{
  text-decoration: none;
  color : black;
}

.page__date{
  font-size: 0.8em;
}